html {
  height: 100%;
}
body {
  background-color: #254E81;
  height: 100%;
}
a {
  color: black;
}
h2 {
  font-size: 30px;
}
.header {

}
.navbar {
  font-size: 30px;
  background-color: #35B99A;
  position: relative;
  float: left;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
}
.navbar:hover {
  font-size: 30px;
  background-color: red;
  position: relative;
  float: left;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
}
.container {
  background-color: #B5F2E4;
  height: 100%;
  overflow: auto;
}
.row{
  overflow: auto;
}

.mainPic {
}
.pic {
  width: 100%;
}
